<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cassandra As a Service On Kubernetes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">CASSKOP</h1>
	<br>
	<button id="Add New Cluster">Add New Cluster</button>
	</br>
        <div class="section editor">
	    <br>
	    <label for="fname">Cluster Name
                <input id="fname" type="text" />
            </label>
            <label for="lname">Data Center Name
                <input id="lname" type="text" />
            </label>
	    <label for="lname">Rack Name
                <input id="lname" type="text" />
            </label>
	    <label for="lname">Rack Members
                <input id="lname" type="text" />
            </label>
            <label for="lname">CPU
                <input id="lname" type="text" />
            </label>
            <label for="lname">Memory in Gi
                <input id="lname" type="text" />
            </label>

            <br />

            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        <div class="cluster">
            <table>
                <caption>Cluster</caption>
                <thead>
                    <tr>
                        <th>Sr.No</th>
			<th>Cluster Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>
